@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center jumbotron-fixed body-image">
    
    <h1 class="h1-main "><b>Po sąsiedzku</b></h1>
    <p class="lead">Powiedz, co potrafisz i wymieniaj się<br /> usługami ze swoimi sąsiadami!</p>

    <div class="navbar-form " role="search">
        <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="Szukaj oferty lub osiedla!" name="srch-term" id="srch-term" style="max-width: 100%; width: 100%;">
            <div class="input-group-btn">
                <button class="btn btn-default" style="background:#F0CA4D;" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>

</div>

<div style="margin-top:50px !important;">
    <h2 class="text-center">Wybierz kategorię</h2>
</div>
<div class="containercategory">
    <div class="category">
        <a href="@Url.Action("Electronic","Home")" class="link">
            <i class="icon-laptop"></i>
            <h2>Elektronika</h2>
        </a>
    </div>
    <div class="category">
        <a href="@Url.Action("Moto","Home")" class="link">
            <i class="icon-motorcycle"></i>
            <h2>Motoryzacja</h2>
        </a>
    </div>
    <div class="category">
        <a href="@Url.Action("Wedding","Home")" class="link">
            <i class="icon-user-pair"></i>
            <h2>Ślub i wesele</h2>
        </a>
    </div>
</div>
<div class="containercategory">
        <div class="category">
            <a href="@Url.Action("Garden","Home")" class="link">
                <i class="icon-garden"></i>
                <h2>Dom i ogród</h2>
            </a>
        </div>

        <div class="category">
            <a href="@Url.Action("Foto","Home")" class="link">
                <i class="icon-camera"></i>
                <h2>Fotografia</h2>
            </a>
        </div>

        <div class="category">
            <a href="@Url.Action("Music","Home")" class="link">
                <i class="icon-note-beamed"></i>
                <h2>Muzyka</h2>
            </a>
        </div>
</div>

<div class="containercategory">
    <div class="category">
        <a href="@Url.Action("Electronic","Home")" class="link">
            <i class="icon-laptop"></i>
            <h2>Elektronika</h2>
        </a>
    </div>
    <div class="category">
        <a href="@Url.Action("Moto","Home")" class="link">
            <i class="icon-motorcycle"></i>
            <h2>Motoryzacja</h2>
        </a>
    </div>
    <div class="category">
        <a href="@Url.Action("Wedding","Home")" class="link">
            <i class="icon-user-pair"></i>
            <h2>Ślub i wesele</h2>
        </a>
    </div>
</div>

<div class="containercategory">
    <div class="category">
        <a href="@Url.Action("Electronic","Home")" class="link">
            <i class="icon-laptop"></i>
            <h2>Elektronika</h2>
        </a>
    </div>
    <div class="category">
        <a href="@Url.Action("Moto","Home")" class="link">
            <i class="icon-motorcycle"></i>
            <h2>Motoryzacja</h2>
        </a>
    </div>
    <div class="category">
        <a href="@Url.Action("Wedding","Home")" class="link">
            <i class="icon-user-pair"></i>
            <h2>Ślub i wesele</h2>
        </a>
    </div>
</div>



